<h1>Angular!</h1>

<style>
	.container {
		width: 100vw;
		height: 10vh;
		display: flex;
		flex-direction: row;
	}

	.field-container {
		width: 50%;
		height: 100%;
	}

	.w-100 {
		width: 100%;
	}
</style>

<div class="container">
	<div class="field-container">
		<mat-form-field appearance="outline" class="w-100">
			<mat-label>Nome</mat-label>
			<input matInput type="text" placeholder="Digite o nome" />
		</mat-form-field>
	</div>
	<div class="field-container" appShowPassword #showPassword="appShowPassword">
		<mat-form-field appearance="outline" class="w-100">
			<mat-label>Senha</mat-label>
			<input matInput type="password" placeholder="Digite a senha" />
		</mat-form-field>
		<app-button-show-password [show]="showPassword.show$ | async"></app-button-show-password>
	</div>
</div>
